$line-input: 0.5px solid #0000004c ;

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo con opacidad */
    backdrop-filter: blur(2px);
    padding: 4rem;
}

.displayNone {
    display: none;
}

.containerModal {
    height: 80%;
    min-width: 40%;
    display: flex;
    background-color: white;
    padding: 1rem;
    animation: containerModal 1s 0.4s ease-in;
    opacity: 1;
}



@keyframes containerModal {
    from {
        bottom: -100%;
    }

    to {
        bottom: 0;
    }
}


.containerImg, .containerInfo {
    width: 50%;
    height: 100%;
}
.containerImg img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.containerInfo {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content:flex-start ;
    padding-left: 1rem;
    gap: 1.5rem;
}

.containerTitle {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}



.containerTitle img {
    height: 28px;
    cursor: pointer;
}

.containerBtn {
    display: flex;
    gap: 1rem;
    height: auto;
}

.btnTalle {
    height: 1.7rem;
    width: 1.7rem!important;
    border:$line-input;
    background-color: rgba(245, 222, 179, 0);

    &:hover {
        opacity: 0.5;
        cursor: pointer;
        transition: 0.15s ease-in-out;
    }
}

.btnAdd {
    width: 100%;
    background-color: black;
    border: none;
    color: white;
    height: 2.5rem;

    &:hover {
        opacity: 0.7;
        cursor: pointer;
        transition: 0.25s ease-in-out;
    }
}

.selectedTalle { 
    height: 1.7rem;
    width: 1.7rem!important;
    border:$line-input;
    background-color: rgba(0, 0, 0, 0.253);
    color: white;
    border: 0.5px solid black;

    &:hover {
        opacity: 0.7;
        cursor: pointer;
        transition: 0.25s ease-in-out;
    }
}

.containerTitleMobile {
    display:none
}
.containerTitleMobile img {
    height: 26px;
}

@media (max-width: 992px) {
    
}
@media (max-width: 768px) {
    .overlay {
        padding: 1rem;
    }
    .containerModal {
        width: 90%;
        height: 60%;
    }
    
}

@media (max-width: 600px) {
    .overlay {
        padding: 0;
    }
    .containerModal {
        width: 100%;
        height: 100%;
        flex-direction: column;
        gap: 1rem;
        // padding-right: 1rem!important;
        overflow-y: scroll;
    }

    .containerTitle {
        display: none;
    }

    .containerTitleMobile {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 1rem 0;
        position: sticky;
        top: -1rem;
        left: 0;
        z-index: 1900;
        background-color: rgba(255, 255, 255, 0.598);
    }

    .containerImg, .containerInfo {
        width: 100%;
        height: 100%;
    }

    .containerImg {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    .btnClose {
        cursor: pointer;
    }


}

@media (max-width: 550px) {

}