.containerSuccess {
    height: 250px;
    width: 420px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 3px;
    margin: auto;
    box-shadow: 1px 1px 15px 1px;
    text-align: center;
    transition: all 3s;

}

.overlaySuccess {
    z-index: 2500;
    height: 100vh!important;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconSuccess {
    height: 150px;
    animation: iconSuccess 0.85s ease-out;
}

@keyframes iconSuccess {

    from {
        transform: scale(50%);
    }

    to {
        transform: scale(100%);
    }
}



@media (max-width: 992px) {
    
}
@media (max-width: 768px) {
    
}
@media (max-width: 550px) {
    
}